<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand active" href="{{path('app_home')}}">Accueil</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>


		{% set betoulaActive = "" %}
		{% set active5050 = "" %}
		{% set guetActive = "" %}
		{% set listKetouvaActive = "" %}
		{% set taoutaActive = "" %}
		{% set irkessaActive = "" %}
		{% set nikreaActive = "" %}
		{% set pissoulActive = "" %}

		{% if lienActif is not defined %}
			{% set lienActif = "" %}
		{% endif %}

		{% if lienActif == "listKetouva" %}
			{% set listKetouvaActive = "active" %}
		{% endif %}

		{% if lienActif is defined %}

			{% if lienActif == "betoula" %}
				{% set betoulaActive = "active" %}

			{% elseif lienActif == "5050" %}
				{% set active5050 = "active" %}

			{% elseif lienActif == "taouta" %}
				{% set taoutaActive = "active" %}

			{% elseif lienActif == "irkessa" %}
				{% set irkessaActive = "active" %}

			{% elseif lienActif == "nikrea" %}
				{% set nikreaActive = "active" %}
					
			{% elseif lienActif == "pissoul" %}
				{% set pissoulActive = "active" %}

			{% elseif lienActif == "listKetouva" %}
				{% set listKetouvaActive = "active" %}
			{% endif %}

		{% endif %}


		<div class="collapse navbar-collapse" id="navbarColor03">
			<ul class="navbar-nav me-auto">
				{% if app.user %}
					<li class="nav-item">
						<a class="nav-link {{betoulaActive}}" href="{{path('create_ketouva', {'type':'betoula'})}}">Betoula</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {{active5050}}"  href="{{path('create_ketouva', {'type':'5050'})}}">50-50</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {{taoutaActive}}"  href="{{path('create_ketouva', {'type':'taouta'})}}">Déichtaka'h taouta</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {{irkessaActive}}"  href="{{path('create_ketouva', {'type':'irkessa'})}}">Déirkessa</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {{nikreaActive}}"  href="{{path('create_ketouva', {'type':'nikrea'})}}">Dénikréa</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {{pissoulActive}}"  href="{{path('create_ketouva', {'type':'pissoul'})}}">Déichtaka'h pissoul</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {{listKetouvaActive}}"  href="{{path('ketouva_list')}}">Liste Ketouvot</a>
					</li>
				{% endif %}
			</ul>

			{% if app.user %}
				<a class="nav-link text-danger" href="{{path('app_logout')}}">Déconnexion</a>
			{% else %}
				<a class="btn btn-primary" href="{{path('app_login')}}">Connexion</a>
			{% endif %}
		</div>
	</div>
</nav>
